.forgot-password-page {
    max-width: 30rem;
    margin: 5rem auto;
    padding: 20px;
    background: #F1EFE7;
    border-radius: 8px;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.70rem;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.7rem;
    box-sizing: border-box;
  }
  
  .forgot-password-page button {
    width: 100%;
    padding: 10px;
    background-color:#0097B2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .forgot-password-page button:hover {
    background-color: #025f70;
  }
  
  .message {
    color: #0097B2;
  }
  
  .error {
    color: rgb(101, 25, 25);
  }

  .login-button:hover{
    background-color: #F1EFE7;
    
  }

  .redirect-login {
    display: flex;
    justify-content: center;
    line-height: 1.7rem;
  }

  .redirect-login a {
    color: #0097B2;
    text-decoration: none;
  }

  .redirect-login a:hover {
    background-color: #F1EFE7;
    cursor: pointer;
    
  }
  